#---------------------------------
# Directories
#---------------------------------
**/node_modules/
target/
tmp/
typings/
aot/


#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip
src/**/*.js
src/**/*.js.map
src/**/*.ngfactory.ts


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.vscode/
.project
*.iml


#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db
